@use "@/theme/mixins";

.drawer {
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__content {
        display: flex;
        flex-direction: column;
        height: 100%;
        
        &__input {
            display: flex;
            gap: mixins.rem(12);
            align-items: center;
        }

        &__scroll {
            flex: 1;
            overflow-y: scroll;
            @include mixins.no-scrollbar;
        }

        &__sections {
            margin-top: mixins.rem(18);
            margin-bottom: mixins.rem(24);
        }
    }
}