@use "@/theme/mixins";

.page {
    &__content {
        margin-top: 2rem;
        overflow-y: scroll; 
        @include mixins.no-scrollbar;
    }
    &__buttons {
        margin-top: 1rem;        
        margin-bottom: 2rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}