@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";

.card {
    flex-shrink: 0;

    width: mixins.rem(292);
    height: mixins.rem(154);

    background: colors.$foreground;

    border-radius: mixins.rem(12);
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;


    &__feedback {
        @include fonts.font-creata("sm", 400, mixins.rem(20));
        @include mixins.textEllipsis(4);
    }

    &__details {
        display: grid;
        grid-template-columns: mixins.rem(34) 1fr;
        grid-template-rows: mixins.rem(34);
        gap: .5rem;
    }

    &__author {
        margin-top: mixins.rem(4);
        @include fonts.font-creata("xs", 400, 1);
        color: colors.$primary;
        span {
            color: colors.$secondary;
        }
    }

}