@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";



.card {
    width: mixins.rem(292);
    height: mixins.rem(154);

    display: flex;
    flex-direction:column;
    gap: 0.5rem;


    background-color: colors.$background;

    border-radius: 0.75rem;
    padding: 1rem;


    &__feedback {
        @include fonts.font-creata("sm",400,mixins.rem(20))
    }

    &__details {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &__wrapper {

            &__stars {
                display: flex;
                gap: 0.25rem;
            }

            &__author {
                @include fonts.font-creata("xs");
                display: flex;
                align-items: start;
                gap: 0.25rem;
                
                span {
                    color:colors.$secondary;
                }
            }
        }
    }

}