@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/spacing";
@use "@/theme/typography";

.navbar {
    padding: mixins.rem(12) spacing.$container mixins.rem(12);

    position: fixed;
    z-index: 20;
	bottom: 0;
	left: 0;
    right: 0;

    display: flex;
	justify-content: space-around;
    align-items: center;

    background-color: colors.$background;

    &__link {
        flex: 0;

        display: flex;
        flex-direction: column;
        row-gap: mixins.rem(2);
        text-wrap: nowrap;

        color: colors.$secondary;
        @include typography.font("xs");

        svg {
            height: mixins.rem(22);
        }

        &_active {
            color: colors.$primary;
        }
    }
}