@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/spacing";
@use "@/theme/typography";


.navbar {
    padding: mixins.rem(12) spacing.$container mixins.rem(28);

    position: fixed;
    z-index: 20;
	bottom: 0;
	left: 0;
    right: 0;

    display: flex;
	justify-content: space-around;
    align-items: center;

    background-color: colors.$background;

    &__link {
        flex: 0;

        display: flex;
        flex-direction: column;
        row-gap: mixins.rem(2);
        text-wrap: nowrap;

        color: colors.$secondary;
        @include typography.font("xs");

        svg {
            height: mixins.rem(22);
        }

        &_active {
            color: colors.$primary;
        }
    }

    //&__item {
    //    color: colors.$secondary;
    //
    //    &_active {
    //        transition: color 5s;
    //
    //        //color: colors.$primary;
    //            //color: red;
    //
    //        svg {
    //        }
    //
    //        .bar__icon {
    //          color: colors.$primary;
    //
    //            //path[data-part="body"] {
    //            //    fill: colors.$primary;
    //            //}
    //        }
    //
    //        //&_compas {
    //        //    color: colors.$primary;
    //        //
    //        //    svg path {
    //        //        stroke: colors.$primary;
    //        //        fill: colors.$primary;
    //        //    }
    //        //}
    //    }
    //}
    //
    //&__list {
    //    list-style: none;
    //
    //    display: flex;
    //    gap: 4rem;
    //}
    //
    //
    //
    //&__label {
    //    color:inherit;
    //    @include typography.font("xs")
    //}
    //
    //&__icon {
    //    height: mixins.rem(24);
    //    color: colors.$secondary;
    //    stroke-width: 1.5;
    //
    //    &_compas {
    //        path {
    //            fill: colors.$foreground;
    //          }
    //    }
    //}
}