.embla {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 100%;
  }
  
  .embla__container {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .embla__slide {
    flex: 0 0 auto;
    min-width: 70%;
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 375) {
    .embla__slide {
      width: 80%;
    }
  }