@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/motions";
@use "@/theme/typography";

.input {
    flex: 1 0 auto;
    display: flex;
    position: relative;
    overflow: hidden;

    &__label {
        position: absolute;
        inset: mixins.rem(12) 1rem;
        @include typography.font("xs");
        color: colors.$secondary;

        pointer-events: none;
    }

    input, textarea {
        flex-grow: 1;

        border: none;
        outline: none;

        background: colors.$secondary-muted;

        transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        caret-color: colors.$primary;

        @include typography.font-creata();
        color: colors.$primary;

        &::placeholder {
            @include typography.font();
            color: colors.$secondary;
            transition: color motions.$motion-duration-mid motions.$motion-ease-in-out;
        }

        &:focus {
            background-color: colors.$secondary-highlight;
            &::placeholder {
                color: colors.$primary;
            }
        }
    }
}