@use "@/theme/colors";
@use "@/theme/typography";

.cluster {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: colors.$primary;

    &__text {
        color: colors.$foreground;
    }
}