@use "@/theme/mixins";
@use "@/theme/fonts";
@use "@/theme/colors";

.card {
    position: relative;
    width: mixins.rem(257);
    height: mixins.rem(337);
    
    padding: mixins.rem(16);

    --top-color: #21252990;
    --bottom-color: #212529;


    &_small {
        width: mixins.rem(220);
        height: mixins.rem(288);
        padding: mixins.rem(14);

    }

    img {
        object-fit: cover;
        border-radius: mixins.rem(12);
        width: 100%;
        height: 100%;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: mixins.rem(50);
        background: linear-gradient(
            180deg,
            var(--top-color) 48%,
            transparent 100%
          );
        border-radius: mixins.rem(12);
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: mixins.rem(119);
        background: linear-gradient(
            180deg,
            transparent 0%,
            var(--bottom-color) 65%
          );
        border-radius: mixins.rem(12);
        z-index: 1;
    }

        &__content {
            height: 100%;
            position: relative;
            z-index: 3;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &__below {
                display: flex;
                flex-direction: column;
                gap: mixins.rem(8);

                h3 {
                    @include fonts.font-creata('base',600);
                    color: colors.$white;
                }

                p {
                    @include fonts.font-creata();
                    font-size: mixins.rem(10);
                    color: colors.$white;
                    opacity: 0.6;
                }
            }
    }
    &__attenders {
        margin-left: 0.5rem ;
    }
}

.badge {
    height: mixins.rem(20);
    padding: mixins.rem(6);

    background-color: rgba(245, 246, 247, 0.4);  
    font-size: mixins.rem(9);
    border-color: rgba(245, 246, 247, 0.4);
    color: colors.$white;
    
    svg path {
        fill: colors.$white;
    }
}

.place {
    // @include fonts.font-creata('xs');
    font-size: 0.625rem !important;
}