@use "@/theme/colors";
@use "@/theme/mixins";

.page {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__buttons {
    background: colors.$background;
    display: flex;
    flex-direction: column;
  }
  &__text {
    margin-top: mixins.rem(32);
  } 
}

.controlLeft {
  transform: rotate(180deg);
}