@use "@/theme/mixins";

.scroll {
    width: 100%;
    height: 100%;

    &_variant {
        &_horizontal {
            height: 100%;
            display: flex;
            align-items: center;

            touch-action: pan-x;

            & > * {
                flex: 0 0 auto;
            }
        }
    }

    &_size {
        &_default {
            column-gap: mixins.rem(12);
        }
        &_small {
            column-gap: .5rem;
        }
    }
}