@use "@/theme/mixins";
@use "@/theme/colors";

.page {
    &__text {
        margin-bottom: mixins.rem(32);
    }

    &__buttons {
        z-index: 1;

        background: colors.$background;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}