@use "@/theme/colors";
@use "@/theme/mixins";

.drawer {
    &__trigger {
        all: unset;
    }

    &__body {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;

        height: 100%;
        max-height: 97%;
        transition: transform 0.3s cubic-bezier(0.32, 0.72, 0, 1) !important;
    }

    &__content {
        height: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        overflow: hidden;

        padding-top: mixins.rem(24);
        padding-inline: 1rem;

        background-color: colors.$background;
        border-radius: mixins.rem(20) mixins.rem(20) 0 0;
    }

    &__icon {
        position: absolute;
        top: .5rem;
        left: 0;
        right: 0;

        margin: 0 auto;
        width: mixins.rem(36);
        height: mixins.rem(5);
        border-radius: mixins.rem(30);
        background-color: colors.$foreground;

        z-index: 999;
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
    }
}
