@use '@/theme/breakpoints';
@use '@/theme/mixins';

.container {
    margin: 0 auto;
	max-width: 100%;
	padding-left: 16px;
	padding-right: 16px;

	&__center {
		padding-left: 0;
		padding-right: 0;
		display: flex;
		justify-content: center;
	}
}
