@use "@/theme/fonts";
@use "@/theme/colors";
@use "@/theme/mixins";


.container {
    display: flex;
    align-items: center;
    gap: mixins.rem(12);

    &__text {
        @include fonts.font-creata("sm",300,20px);
        color: colors.$foreground;
        span {
            font-weight: 400;
            color: colors.$white;
            height: mixins.rem(20);
        }
    }
}