@use "@/theme/typography";
@use "@/theme/colors";
@use "@/theme/mixins";


.container {
    display: grid;
    grid-template-columns: 2rem 1fr;
    grid-template-rows: 2rem;
    align-items: center;
    column-gap: mixins.rem(12);

    color: colors.$foreground;

    &__text {
        @include typography.font("sm")
        //font-weight: 300;
        //
        //span {
        //    font-weight: 400;
        //}
    }
}