@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";

.content {
    height: 100%;
}

.drawer {
    &__title {
        @include fonts.font-creata('lg',500,mixins.rem(26));
        text-align: center;
    }
}
.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;

    height: mixins.rem(104);
    background: linear-gradient(
        to top,
        colors.$background 65%,
        transparent 100%,
    );
    &__button {
        margin-top: 1rem;
    }
}