@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";

.drawer {
    height: 100%;

    display: flex;
    flex-direction: column;
    &__trigger {
        padding-inline: 0rem !important;
    }
    &__title {
        @include fonts.font-creata('lg',500,mixins.rem(26));
        text-align: center;
    }
    &__options {
        margin-top: mixins.rem(9.5);
        &_blured {
                opacity: 0.6;
                pointer-events: none;
        }
    }

    &__buttons {
        position: absolute;
        bottom:50;
        left: 0;

        z-index: 999;

        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}