:root {
    --primary: #212629;
    --primary-highlight: #121517;
    --secondary: #696A74;
    --secondary-muted: #A6A4B4;
    --secondary-highlight: #EBEBEB;
    --border: #CBCCDA;
    --foreground: #E8E9EA;
    --background-muted: #F5F6F7;
    --background: #FFFFFF;
    --white: #FFFFFF;
    --orange:#FFAE00;
    --accent:#5870FF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #FFFFFF;
        --primary-highlight: #E9E9E9;
        --secondary: #A3A3A3;
        --secondary-muted: #696A74;
        --secondary-highlight: #292929;
        --border: #484848;
        --foreground: #3B3C3E;
        --background-muted: #212121;
        --background: #000000;
        --white: #FFFFFF;
        --orange:#FFAE00;
    }
}