@use '@/theme/mixins';
@use '@/theme/colors';
@use '@/theme/skeleton';

.avatar {
    height: 100%;
    aspect-ratio: 1;
    flex-shrink: 0;

    position: relative;

    border-radius: 50%;
    overflow: hidden;

    img {
        position: absolute;
        inset: 0;
        object-fit: cover;
    }

    &__variant {
        &_bordered {
            border: mixins.rem(1.5) colors.$static-foreground solid;
        }

        &_outline {
            outline: mixins.rem(1.5) colors.$static-foreground solid;
            outline-offset: mixins.rem(3);
        }
        &_edit {
            position: relative;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            z-index: 1;
            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: colors.$primary;
                opacity: 0.2;
                z-index: 1;
            }

            svg {
                position: relative;
                z-index: 2; // щоб іконка була над затемненням
            }
        }
    }
}

.skeleton {
    @include skeleton.base;
    background-color: colors.$secondary-muted-highlight;
    border-radius: 50%;
}