@use "@/theme/mixins";
@use "@/theme/colors";


.avatar {
    position: relative;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;

    img {
        object-fit: cover;
    }

    &__variant {
        &_default {

        }

        &_outline,
        &_profile {
            width: fit-content;
            height: fit-content;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                width: 120%;
                height: 120%;
                border-radius: 50%;
                border: 1.5px solid;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &_outline::before {
            border-color: colors.$foreground;
        }

        &_profile::before {
            border-color: colors.$secondary;
        }
    }

    &__size {
        &_default {

        }

        &_large {

        }
    }
}