@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";

.content {
    height: 100%;
}

.drawer {
    &__title {
        @include fonts.font-creata('lg',500,mixins.rem(26));
        text-align: center;
    }
}
.buttons {
    margin-top: mixins.rem(24);
}


.test {
    svg path {
        stroke: colors.$secondary !important;
    }
}