@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/motions";
@use "@/theme/typography";

.button {
    flex-shrink: 0;

    height: mixins.rem(38);
    width: fit-content;
    border-radius: mixins.rem(100);

    display: flex;
    align-items: center;
    justify-content: center;

    @include typography.font("sm");
    line-height: 1;
    text-wrap: nowrap;

    transition:
            background-color motions.$motion-duration-fast motions.$motion-ease-in-out,
            color motions.$motion-duration-fast motions.$motion-ease-in-out;

    svg {
        height: 1rem;
    }

    &_layout {
        &_default {
            column-gap: .5rem;
            padding-inline: mixins.rem(18);
        }
        &_icon {
            width: mixins.rem(38);
        }
    }

    &_variant {
        &_default {
            background: colors.$foreground;
        }
        &_outline {
            border: 0.75px solid colors.$foreground;
        }

        &_text {

        }

        &_primary {
            background: colors.$primary;
            color: colors.$foreground;
        }

        &_accesnt {
            background: colors.$accent;
            color: colors.$foreground;
        }

        &_background {
            background: colors.$background;
        }
    }
}