@use "@/theme/colors";
@use "@/theme/mixins";

$point-size: .5rem;
$transition-func: cubic-bezier(0.34, 1.56, 0.64, 1);

.marker {
    position: relative;
    width: 2rem;
    height: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: "";
        width: $point-size;
        height: $point-size;
        border-radius: 50%;
        background-color: colors.$primary;
    }

    &__image {
        position: absolute;
        inset: 0;
        width: 2rem;
        height: 2rem;

        border: mixins.rem(2) colors.$primary solid;
        border-radius: 50%;
        overflow: hidden;

        transform-origin: bottom center;
        transition:
                scale .6s $transition-func,
                transform .4s $transition-func;

        &_selected {
            scale: 2.5;
            transform: translateY(-10px);
        }
    }
}