@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/typography";

.list {
    background: colors.$foreground;
    padding: 1rem mixins.rem(18);
    border-radius: mixins.rem(17);

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.listItem {
    list-style: none;
    display: flex;
    column-gap: mixins.rem(18);

    &_disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    &_variant {
        &_avatar {
            align-items: center;
        }
    }

    &_weight {
        &_default {}
        &_bold {}
    }

    &_size {
        &_default {}
        &_small {}
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: mixins.rem(4);
    }

    &__title {
        color: colors.$primary;

        .listItem_weight_default & {
            @include typography.font("base", 400);
            line-height: 1;
        }

        .listItem_weight_bold & {
            @include typography.font("base", 500);
            line-height: 1;
        }

        .listItem_variant_warn & {
            color:red;
        }
    }

    &__description {
        @include typography.font("sm", 400);
        color: colors.$secondary;
    }

    &__left {
        display: flex;

        .listItem_size_default & {
            @include typography.font("4xl");
        }

        .listItem_size_small & {
            @include typography.font("2xl");
        }

        .listItem_variant_avatar & {
            width: mixins.rem(44);
            height: mixins.rem(44);
        }

        .listItem_variant_warn & {
            svg path {
                fill: red;
            }
        }

        svg {
            width: mixins.rem(22);
            height: mixins.rem(22);
        }

        &_icon {
            &_filled {
                svg path {
                    fill: colors.$primary;
                }
            }

            &_outlined {
                svg path {
                    stroke: colors.$primary;
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin-left: auto;

        & > svg {
            width: mixins.rem(7);
            height: mixins.rem(12);
            path {
                fill: colors.$secondary;
            }
        }

        .listItem_variant_warn & {
            svg path {
                fill: red;
            }
        }
    }
}