@use "@/theme/mixins";
@use "@/theme/colors";

.checkbox {
    position: relative;
    height: mixins.rem(22);
    width: mixins.rem(22);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s ease,border 0.3s ease;

    border: 1px solid colors.$secondary-muted;
    border-radius: 1rem;

    &_selected {
        background-color: colors.$primary;
        border: 1px solid colors.$primary;
    }

    &__icon {
        transform: translate(50% -50%);
        position: absolute;
        height: mixins.rem(10);
        width: mixins.rem(13);

        path {
            stroke: colors.$foreground;
            stroke-width: mixins.rem(3);
        }
    }
}