@use "@/theme/mixins";


.page {    
    &__header {
        margin-top: 3rem;
    }

    &__selected {
        margin-top: mixins.rem(22);

        &__items {
            background-color: #fff;
            border-radius: 1rem;
        }
    }

    &__interests {
        margin-top: mixins.rem(28);
    }
}