@use "@/theme/mixins";

.search {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        padding-bottom: mixins.rem(22);
    }
    &__gap {
       padding-bottom: mixins.rem(24);
    }

    &__list {
        overflow-y: auto;
    }

    &__more {
        margin-top: mixins.rem(12);
    }
}