@use "@/theme/mixins";
@use "@/theme/fonts";

.section {
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include fonts.font-creata('lg');

        &__title {
            &__size {
                &_default {
                    @include fonts.font-creata('lg', 500)
                }

                &_small {
                    font-size: mixins.rem(18);                
                }
            }
        }
    }
    &__items {
        margin-top: mixins.rem(12);
        
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-auto-flow: column;
        
        row-gap: mixins.rem(16);
        column-gap: mixins.rem(38);
        
        overflow-x: auto;
        @include mixins.no-scrollbar;
    }
}