@use "@/theme/typography";
@use "@/theme/colors";
@use "@/theme/mixins";

.section {
    width: 100%;

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 1rem;

        margin-bottom: mixins.rem(12);
    }

    &__title {
        color: colors.$primary;
        flex-grow: 1;
        @include typography.font("lg", 500)
    }

    &__cta {
        span {
            font-weight: 500 !important;
        }
    }

    &__content {
        &_container {
            padding-inline: 1rem;
        }
    }
}