@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";
@use "@/theme/motions";



.toggle {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem mixins.rem(10);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: colors.$background;
    border: 1px solid colors.$border;
    border-radius: 12;

    &__element {
        width: mixins.rem(147);
        padding: mixins.rem(12) 0px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: mixins.rem(2);

        border-radius:10;

        transition: background-color motions.$motion-duration-slow motions.$motion-ease-in,
        color motions.$motion-duration-slow motions.$motion-ease-in;

        color: colors.$secondary-muted;
        @include fonts.font-creata('sm',400);


        span {
            @include fonts.font-creata('',500);
            font-size: mixins.rem(18);
            
        }
        &_selected {
            background-color: colors.$background-muted;
            color:colors.$secondary;
        }
    }

    svg {
        transform: rotate(180deg);
        path {
            fill: colors.$secondary;

        }
    }
}