@use "@/theme/mixins";
@use "@/theme/spacing";
@use "@/theme/colors";
@use "@/theme/motions";
@use "@/theme/typography";

.content {
    height: 100%;
}

.upload {
    &__grid {
        touch-action: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: mixins.rem(12);

        label {
            @include typography.font("sm");
        }

        &_vertical {
            & > *, label {
                width: mixins.rem(168);
                height: mixins.rem(224);
                padding: mixins.rem(4);

                &, .upload__file_wrapper {
                    border-radius: mixins.rem(12);
                }
            }
        }

        &_horizontal {
            & > *, label {
                width: mixins.rem(168);
                height: mixins.rem(111);
                padding: mixins.rem(4);

                &, .upload__file_wrapper {
                    border-radius: mixins.rem(12);
                }
            }
        }

        &_rounded {
            justify-content: flex-start;
            & > *, label {
                width: mixins.rem(104);
                height: mixins.rem(104);
                padding: mixins.rem(4);

                &, .upload__file_wrapper {
                    border-radius: 50%;
                }
            }
        }
    }

    &__file {
        position: relative;
        border: mixins.rem(2) transparent solid;

        &_selected {
            border-color: colors.$primary;
        }

        &_delete {
            position: absolute;
            top: .5rem;
            right: .5rem;
            z-index: 1;
        }

        &_wrapper {
            width: 100%;
            height: 100%;
            position: relative;

            overflow: hidden;

            img {
                z-index: 0;
                position: absolute;
                object-fit: cover;
            }
        }
    }
}