@use "@/theme/colors";
@use "@/theme/typography";
@use "@/theme/mixins";
@use "@/theme/skeleton";

.section {
    display: flex;
    align-items: center;
    margin-left: .5rem;

    > * {
        margin-left: -.5rem;
    }

    &__size {
        &_small {
            height: mixins.rem(22);
        }

        &_default {
            height: mixins.rem(26);
        }
    }

    &__more {
        height: 100%;
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        background: colors.$foreground;
        border-radius: mixins.rem(50);

        color: colors.$primary;

        @include typography.font("xxs");

        &_size {
            &_default {
                padding-inline: .5rem;
            }
            &_small {
                padding-inline: mixins.rem(7);
                span {
                    font-size: mixins.rem(9);
                }
            }
        }
    }
}

.skeleton {
    @include skeleton.base;
    border-radius: unset;
    display: flex;
    align-items: center;
    column-gap: mixins.rem(6);

    &__avatar {
        height: 100%;
        aspect-ratio: 1;
        flex-shrink: 0;
        border-radius: 50%;
        background-color: colors.$secondary-muted-highlight;
    }

    &__more {
        height: 100%;
        position: relative;
        z-index: 1;
        width: mixins.rem(70);
        border-radius: mixins.rem(50);
        background-color: colors.$secondary-muted-highlight;
    }
}