@use "@/theme/mixins";
@use "@/theme/motions";
@use "@/theme/colors";

.close {
    all: unset;

    border-radius: 50%;
    aspect-ratio: 1;

    transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    background-color: colors.$foreground;

    display: flex;
    align-items: center;
    justify-content: center;

    &_size {
        &_default {
            height: mixins.rem(30);

            svg {
                width: .5rem;
                height: .5rem;
            }
        }
        &_small {
            height: mixins.rem(22);

            svg {
                width: mixins.rem(6.5);
                height: mixins.rem(6.5);
            }
        }
    }

    &_variant {
        &_default {
            background-color: colors.$foreground;
            color: colors.$primary;

            svg path {
                stroke-width: mixins.rem(3);
                stroke: colors.$primary
            }

            &:active {
                background-color: colors.$foreground-highlight;
            }

            &:disabled {
                opacity: .6;
                box-shadow: none;
                pointer-events: none;
            }
        }
    }
}