@use "@/theme/mixins";
@use "@/theme/colors";


.drawer {
    pointer-events: none;
    &__selected {
        margin-top: mixins.rem(18);
    }

    &__more {
        margin-top: 1rem;
    }

    &__buttons {
        pointer-events: auto;
        background-color: colors.$background;
        height: mixins.rem(104);
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 999;
        position: absolute;
        bottom:0;
        left: 0;
    }

    &__button {
        display: flex;
        justify-content: center;
    }
}