@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/typography";


.bar {
	height: mixins.rem(84);
	width: 100%;

    position: fixed;
    z-index: 100;
	bottom: 0;
	left: 0;
    display: flex;
	justify-content: center;
    align-items: center;

    background-color: colors.$background;

    &__item {
        color:colors.$secondary;

        &_active {
            color: colors.$primary;
        
            .bar__icon {
              color: colors.$primary;
            }
          }        
    }

    &__list {
        list-style: none;

        display: flex;
        gap: 4rem;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    &__label {
        color:inherit;
        @include typography.font("xs")
    }

    &__icon {
        height: mixins.rem(24);
        color:colors.$secondary;

        &_compas {
             path {
                fill:none;
                stroke-width: mixins.rem(1.5);
            }
        }
    }
}