@use "@/theme/colors";

.section {
}

.search {
    position: absolute;
    background-color:colors.$background;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}