@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/typography";



.badge {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    border-radius: 1rem;
    border: mixins.rem(1) transparent solid;

    &__size {
        &_default {
            height: mixins.rem(26);
            padding-inline: mixins.rem(10);
            gap: mixins.rem(4);

            svg {
                width: mixins.rem(10);
                height: mixins.rem(10);
            }
        }

        &_small {
            height: mixins.rem(22);
            padding-inline: mixins.rem(6);
            gap: mixins.rem(4);

            svg {
                width: mixins.rem(10);
                height: mixins.rem(10);
            }

            span {
                @include typography.font-creata("xxs", 400);
            }
        }
    }

    &__variant {
        &_ghost {
            background-color: rgba(#FFFFFF, .4);
            border-color: rgba(#FFFFFF, .4);
            color: colors.$foreground;
            svg path {
                fill: colors.$foreground;
            }
        }



        &_default {
            background-color: colors.$background;
            color: colors.$secondary;
            border-color: colors.$border;
            svg path {
                fill: colors.$secondary;
            }
        }

        &_primary {
            background-color: colors.$primary;
            color: colors.$foreground;
            border-color: colors.$border;
            svg path {
                fill: colors.$foreground;
            }
        }

        &_fire {
            background-color: #FFAE00;
            border-color: unset;
            color: colors.$foreground;
            svg path {
                fill: colors.$foreground
            }
        }
    }
}