@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/spacing";
@use "@/theme/typography";

.drawer {
    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        padding: 0 spacing.$container mixins.rem(20);

        border-bottom: 1px solid colors.$secondary-muted;

        margin-bottom: mixins.rem(22);
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: mixins.rem(4);
    }

    &__title {
        @include typography.font("3xl", 700);
        color: colors.$primary;
    }

    &__subtitle {
        @include typography.font("base");
        color: colors.$secondary;
    }

    &__content {
        margin-bottom: mixins.rem(24);
        height: mixins.rem(294);
    }

    &__image {
        position: relative;
        border-radius: mixins.rem(17);
        overflow: hidden;
        height: 100%;

        width: mixins.rem(212);

        img {
            object-fit: cover;
        }

        &_group {
            height: 100%;

            display: flex;
            flex-direction: column;
            row-gap: mixins.rem(12);
        }
    }

    &__buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
}