@use "@/theme/mixins";


.page {    
    position: relative;
    height: 100%;

    display: flex;
    flex-direction: column;

    &__header {
        margin-top: 3rem;
    }

    &__selected {

        &__items {
            background-color: #fff;
            border-radius: 1rem;

            &_empty {
                width: 100%;
                height: mixins.rem(60);
                display: flex;
                align-items: center;   
                justify-content: center; 
                text-align: center;
              }
        }
    }

    &__interests {
        margin-top: mixins.rem(28);
        &_margin {
            margin-top: 0rem;
        }
    }

    &__wrapper {
        overflow-y: scroll;
        @include mixins.no-scrollbar;
    }
}