@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/spacing";
@use "@/theme/typography";
@use "@/theme/colors/scheme";

html,
body {
  font-size: typography.$base-font-size;
  max-width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;

  overscroll-behavior-y: none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  background: colors.$background;
  color: colors.$primary;
  @include typography.font-creata;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: inherit;
  text-decoration: none;
}

.mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left {
  display: none;
}

.display-standalone .pb-standalone {
  padding-bottom: spacing.$standalone;
}

.bottom-sheet-root {
  position: absolute;
  inset: 0;
}

.pointer-none {
  pointer-events: none;
}

.mapboxgl-marker {
  pointer-events: inherit !important;
}

.invisible-for-image {
  opacity: 0 !important;
  pointer-events: none !important;
}