@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/motions";
@use "@/theme/typography";

@mixin active($color) {
    &:active {
        background-color: $color;
        @content;
    }
}

@mixin disabled() {
    &:disabled {
        opacity: .6;
        box-shadow: none;
        pointer-events: none;
        @content;
    }
}

.input {
    position: relative;
    cursor: pointer;

    padding-inline: 1rem;
    box-sizing: border-box;
    border-radius: mixins.rem(28);

    min-height: mixins.rem(52);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: mixins.rem(4);

    text-align: center;
    @include typography.font("base");

    transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    svg {
        height: mixins.rem(18);
    }

    &_variant {
        &_secondary-muted {
            background-color: colors.$secondary-muted;
            color: colors.$primary;

            svg path {
                fill: colors.$primary
            }

            @include active(colors.$secondary-muted-highlight);
            @include disabled;
        }

        &_accent-muted {
            background-color: colors.$accent-muted;
            color: colors.$accent;

            svg path {
                fill: colors.$accent
            }

            @include active(colors.$accent-muted-highlight);
            @include disabled;
        }

        &_text-accent {
            height: fit-content;
            color: colors.$accent;
            font-weight: 500;
            min-height: auto;

            &:active {
                color: colors.$accent-highlight;
            }
            @include disabled;
        }
    }

    input {
        visibility: hidden;
        position: absolute;
        inset: 0;
    }
}