@use "@/theme/fonts";
@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/motions";

.container {
  display: flex;
  flex-direction: column;
  gap: mixins.rem(8);
  min-width: mixins.rem(302);

  &__label {
    position: absolute;
    top: 0rem;
    margin-top: 0.75rem;
    margin-left: 1rem;
    @include fonts.font-creata("xs", 400);
    color: colors.$secondary;

    &_numeric {
      @include fonts.font-creata("base", 500);
      text-align: center;
    }
  }

  &__input {
    height: mixins.rem(70);
    width: 100%;
    background: colors.$secondary-muted;
    padding: 0.75rem 1rem;
    padding-top: 1.5rem;

    @include fonts.font-creata("base", 400);
    border: none;
    transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out,
    border-color motions.$motion-duration-mid motions.$motion-ease-in-out,
    color motions.$motion-duration-mid motions.$motion-ease-in-out;

    &::placeholder {
      color: colors.$secondary;
      opacity: 1;
    }

    &:focus {
      border-color: colors.$background-muted;
      outline: none;
      background-color: colors.$secondary-highlight;
      color: colors.$primary;

      &::placeholder {
        color: colors.$primary;
      }
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &__wrapper {
      position: relative;
      display: flex;
      align-items: center;
    }

    &__withIcon {
      padding: mixins.rem(14) 2.5rem;
      height: mixins.rem(40);
    }

    &__icon {
      position: absolute;
      left: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: mixins.rem(18);
    }

    &__variant {
      &_default {
        border-radius: mixins.rem(8);
      }
      
      &_rounded {
        border-radius: mixins.rem(26);
      }
      
      &_numeric {
        border: none;
        padding: 0rem;
        text-align: center;

        @include fonts.font-creata("", 600);
        font-size: 3.5rem;

        &::placeholder {
          width: 100%;
          @include fonts.font-creata("", 600);
          font-size: 3.5rem;
          margin-left: mixins.rem(20);
          color: colors.$secondary-highlight;
        }

        &:focus {
          border-color: colors.$background-muted;
          outline: none;
          background-color: transparent;
          color: colors.$primary;

          &::placeholder {
            color: colors.$primary;
          }
        }
      }
    }

    &__size {
      &_large {
        height: mixins.rem(140);
        padding-top: 2rem;
      }
    }
  }

  &__hint {
    @include fonts.font-creata("sm", 400);
    color: colors.$secondary-muted;
  }

  &__error {
    @include fonts.font-creata("sm", 400);
    color: red;
  }
}