@use "@/theme/fonts";
@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/motions";

.container {
  display: flex;
  flex-direction: column;
  gap: mixins.rem(8);
  min-width: mixins.rem(302);

  &__label {
    @include fonts.font-creata("sm", 500);
    color: colors.$secondary;
    &_numeric {
      @include fonts.font-creata("base", 500);
      text-align: center;
    }
  }

  &__input {
    width: 100%;
    background: colors.$background;
    padding: 12px 16px;

    @include fonts.font-creata("base", 400);
    color: colors.$secondary-muted;
    border: 1px solid colors.$border ;
    transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out,
    border-color motions.$motion-duration-mid motions.$motion-ease-in-out;

    &:focus {
      border-color: colors.$background-muted;
      outline: none;
    }

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
    &::placeholder {
      @include fonts.font-creata("base", 400);
      color: colors.$secondary-muted;
      margin-left: mixins.rem(20);
    }

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__withIcon {
      padding-left: mixins.rem(40); 
    }

    &__icon {
      position: absolute;
      left: mixins.rem(12);
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
      svg path {
        stroke: colors.$secondary-muted;
      }
    }

    &__variant {
      &_default {
        border-radius: mixins.rem(8);
      }
      
      &_rounded {
        border-radius: mixins.rem(100);
      }
      
      &_numeric {
        border: none;
        padding: 0px;
        text-align: center;

        @include fonts.font-creata("", 600);
        font-size: 3.5rem;

        &::placeholder {
          width: 100%;
          
          @include fonts.font-creata("", 600);
          font-size: 3.5rem;
          margin-left: mixins.rem(20);
        }

        &:focus {
          color:colors.$primary;
        }

        &:not(:placeholder-shown) {
          color:colors.$primary;
        }

        &:active {
          color:colors.$primary;
        }
      }
    }

    
    &__size {
      &_default {
        // height: mixins.rem(48);
      }
      
      &_large {
        height: mixins.rem(100);
      }
    }

    &__background {

      &_default {
        background: colors.$background;
      }
      
      &_muted {
        background: colors.$background-muted;
      }
    }

  }

  &__hint {
    @include fonts.font-creata("sm", 400);
    color: colors.$secondary-muted;
  }

  &__error {
    @include fonts.font-creata("sm", 400);
    color: red;
  }
}