@use "@/theme/mixins";
@use "@/theme/fonts";
@use "@/theme/typography";
@use "@/theme/colors";

.card {
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    color: colors.$foreground;

    &_size {
        &_large {
            width: mixins.rem(294);
            height: mixins.rem(516);
            border-radius: mixins.rem(20);
        }
        &_default {
            width: mixins.rem(257);
            height: mixins.rem(337);
            border-radius: mixins.rem(20);
        }
        &_small {
            width: mixins.rem(220);
            height: mixins.rem(288);
            border-radius: mixins.rem(17);
        }
    }

    &__section {
        &_size {
            &_large {
                padding: 1rem mixins.rem(12) ;
            }
            &_default {
                padding: 1rem;
            }
            &_small {
                padding: mixins.rem(14);
            }
        }
    }

    &__background {
        height: mixins.rem(365);
        width: 100%;
        position: absolute;
        z-index: -1;
        inset: 0;
        object-fit: cover;
    }
}

.test {
    font-size: 10px !important;
    font-weight: 300 !important;

}


.info {
    &__title {
        @include fonts.font-creata('xl',600)
    }

    &__date {
        display: flex;
        gap: 0.5rem;

        margin-top: 0.75rem;

        svg path {
            fill: colors.$foreground;
        }
        span {
            @include fonts.font-creata('xs',300)
        }
    }

    &__price {
        padding: 1rem 0rem;
        span {
            @include fonts.font-creata('lg',500)
        }
    }
}