@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";



.card {
    width: 100%;
    padding: 1rem;

    display: flex;
    gap: mixins.rem(12);

    border: 1px solid colors.$border;
    border-radius: 12;

    h3 {
        color:colors.$primary;
        @include fonts.font-creata('base',500)
    }
    p {
        color:colors.$secondary;
        @include fonts.font-creata('xs');
        margin-top: mixins.rem(8);
    }

    svg path {
        fill: colors.$primary;
    }
}