@use "@/theme/mixins";

.picker {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: mixins.rem(24.5);
    column-gap: mixins.rem(20);

    overflow-y: scroll;
    overflow-x: hidden;
    @include mixins.no-scrollbar;
}