.section {    

    &__toggle {
        margin-top: 2rem;
    }

    &__carousels {
        position: relative;
    }

    &__date {
        position: relative;
        unicode-bidi: isolate;
        box-sizing: border-box;
    }
}