@use "@/theme/fonts";
@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/motions";

.button {
	all: unset;
	user-select: none;
	cursor: pointer;
    box-sizing:border-box;

    height: mixins.rem(38);
    width: fit-content;
    padding:  0rem mixins.rem(18);
    border-radius: 100;
    @include fonts.font-creata("sm", 400, mixins.rem(20));


    display: flex;
    align-items: center;
    justify-content: center;
    gap: mixins.rem(4);


    -webkit-tap-highlight-color: rgba(0,0,0,0);
	transition: background-color motions.$motion-duration-mid motions.$motion-ease-in-out,
    color motions.$motion-duration-mid motions.$motion-ease-in-out;
    border:1px solid transparent;

    p {
        margin: 0;
        line-height: 1;
    }

    &__selected {
        border:1px solid transparent !important;
        background-color: colors.$primary !important;
        color: colors.$background !important;
    }

    &__variant {
        &_default {
            border:1px solid colors.$border;
            background-color: colors.$background-muted;
            color: colors.$secondary;
        }

        &_primary {
            border:1px solid transparent;
            background-color: colors.$primary;
            color: colors.$background;
        }

        &_outline {
            border:1px solid colors.$background;
            color: colors.$background;
        }

        &_icon {
            width: mixins.rem(32);
            height: mixins.rem(32);
            padding: 0;
            background-color: colors.$background-muted;
            svg path {
                stroke: colors.$secondary;
            }
        }

        &_dashed {
            border: 1px dashed colors.$border;
            background-color: colors.$background-muted;
            color: colors.$secondary;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: mixins.rem(14);
        height: mixins.rem(14);
        svg {
            max-height: mixins.rem(10);
        }
    }

}