@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/fonts";



.options {
    background-color: colors.$background-muted;
    border-radius: 12;

    margin-top: 1.5rem;

    &__option {
        padding: 1rem 1.25rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include fonts.font-creata('');

        svg {
            rotate: (180deg);
        }
        &_draft {
            color: red;
        }
    }
}