@use "@/theme/mixins";
@use "@/theme/colors";

.toggle {
    background-color: colors.$secondary-muted;;
    border-radius:90px;
    box-sizing: border-box;
    border:0px solid transparent;
    width: 44px;
    height: 24px;
    transition: background-color 0.1s ease;
    cursor: pointer;
    position: relative;

    &_toggled {
        background-color: colors.$primary;
    }   

    &__thumb {
        height: 20px;
        width: 20px;
        background-color: colors.$foreground;
        border-radius:50%;
        transition: left 0.15s ease;
        position: absolute;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        &_toggled {
            left: calc(50px - 30px);
        }
    }
}