@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/typography";

.list {
    position: relative;
    background: colors.$foreground;
    padding: 1rem mixins.rem(18);
    border-radius: mixins.rem(17);

    &_spacing {
        &_gap {
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        &_padding {
            & > * {
                padding-bottom: 2rem;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}

.listItem {
    list-style: none;
    display: flex;
    column-gap: mixins.rem(18);

    padding: mixins.rem(2.5) 0;

    &_disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
    }

    &_variant {
        &_avatar {}
        &_danger {}
    }

    &_weight {
        &_default {}
        &_bold {}
    }

    &_size {
        &_default {}
        &_small {
            column-gap: mixins.rem(12);
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: mixins.rem(4);
    }

    &__title {
        color: colors.$primary;

        .listItem_weight_default & {
            @include typography.font("base", 400);
            line-height: 1;
        }

        .listItem_weight_bold & {
            @include typography.font("base", 500);
            line-height: 1;
        }

        .listItem_variant_danger & {
            color: colors.$danger;
        }
    }

    &__description {
        @include typography.font("sm", 400);
        color: colors.$secondary;
    }

    &__status {
        font-size: mixins.rem(14);
        vertical-align: middle;
        transform: translate(0,-3px);
    }

    &__left {
        display: flex;

        .listItem_size_default & {
            @include typography.font("4xl");
            svg {
                width: mixins.rem(22);
                height: mixins.rem(22);
            }
        }

        .listItem_size_small & {
            @include typography.font("2xl");
            svg {
                width: 1rem;
                height: 1rem;
            }
        }

        .listItem_variant_avatar & {
            width: mixins.rem(44);
            height: mixins.rem(44);

            & > * {
                height: 100%;
                aspect-ratio: 1;
                flex-shrink: 0;
            }
        }

        .listItem_variant_danger & {
            svg path {
                fill: colors.$danger;
            }
        }

        &_icon {
            &_filled {
                svg path {
                    fill: colors.$primary;
                }
            }

            &_outlined {
                svg path {
                    stroke: colors.$primary;
                }
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin-left: auto;

        & > svg {
            width: mixins.rem(7);
            height: mixins.rem(12);
            path {
                fill: colors.$secondary;
            }
        }

        .listItem_variant_warn & {
            svg path {
                fill: red;
            }
        }
    }

    &__bottom {
        margin-top: 0.5rem;
    }
}