@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/typography";

.content {
    margin-top: mixins.rem(12);

    &__gap {
        margin-bottom: mixins.rem(22);

        &_sm {
            margin-bottom: 1rem;
        }
    }

    &__description {
        background: colors.$foreground;
        padding: mixins.rem(18) 1rem;

        border-radius: mixins.rem(17);

        display: flex;
        flex-direction: column;
        row-gap: .5rem;

        @include typography.font("sm");

        &_more {
            font-weight: 500;
        }
    }

    &__controls {
        display: flex;
        column-gap: mixins.rem(12);
    }
}

.gap {
    margin-bottom: mixins.rem(20);
    &_lg {
        margin-bottom: mixins.rem(25);
    }
    &_sm {
        margin-bottom: mixins.rem(17);
    }
}