@use "@/theme/colors";
@use "@/theme/mixins";

.page {
    &__info {
        margin-top: mixins.rem(48);
    }

    &__interests {
        margin-top: mixins.rem(32);

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        row-gap: mixins.rem(24.5);
        column-gap: mixins.rem(20);

        overflow-y: scroll;
        @include mixins.no-scrollbar;
    }

    &__buttons {
        margin-top: 1rem;
        position: sticky;
        bottom: 0;

        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}