@use "@/theme/mixins";
@use "@/theme/colors";

.eventDrawer {
    &__interests {
        padding: mixins.rem(22) 0;
        border-bottom: 1px colors.$secondary-muted solid;
    }

    &__gap {
        margin-bottom: mixins.rem(32);
    }
}