@use "@/theme/colors";
@use "@/theme/fonts";
@use "@/theme/mixins";

.section {
    display: flex;
    align-items: center;
    margin-left: .5rem;

    > * {
        margin-left: -.5rem;
    }

    &__size {
        &_small {
            height: mixins.rem(22);
        }

        &_default {
            height: mixins.rem(25);
        }
    }

    &__more {
        height: 100%;
        position: relative;
        z-index: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        background: colors.$foreground;
        border-radius: mixins.rem(50);

        color: colors.$primary;

        &_size {
            &_default {
                padding-inline: .5rem;

                span {
                    @include fonts.font-creata("xxs", 400, 1, mixins.rem(-2));
                }
            }
            &_small {
                padding-inline: mixins.rem(7);
                span {
                    @include fonts.font-creata("xxs", 400, 1, mixins.rem(-2));
                    font-size: mixins.rem(9);
                }
            }
        }
    }
}