@use "@/theme/mixins";
@use "@/theme/spacing";

.crop {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: mixins.rem(22);

    &__cropper {
        flex: 1;
        position: relative;
        overflow: hidden;
    }
}