@use "@/theme/mixins";

.page {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__input {
        padding-top: mixins.rem(32);
        padding-bottom: mixins.rem(18);
    }

    &__places {
        overflow-y: scroll;       
        @include mixins.no-scrollbar; 
    }
}