.embla {
    position: relative;
    display: flex;
    width: 100%;
    height: 22.2rem;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: '';
        display: block;
        height: calc(50% - 32px / 2);
        z-index: 1;
        pointer-events: none;
    }

    &:before {
        top: -0.5px;
        border-bottom: 0.5px solid rgba(var(--text-high-contrast-rgb-value), 0.3);
        background: linear-gradient(
            to top,
            rgba(var(--background-site-rgb-value), 0.65) 0%,
            rgba(var(--background-site-rgb-value), 1) 100%
        );
    }

    &:after {
        bottom: -0.5px;
        border-top: 0.5px solid rgba(var(--text-high-contrast-rgb-value), 0.3);
        background: linear-gradient(
            to bottom,
            rgba(var(--background-site-rgb-value), 0.65) 0%,
            rgba(var(--background-site-rgb-value), 1) 100%
        );
    }
}