@use "@/theme/mixins";
@use "@/theme/motions";

$spinner-width: 20;

.wrapper {
    display: inline-block;
    width: 0;
    opacity: 0;
    overflow: hidden;
    vertical-align: middle;
    transition:
            width motions.$motion-duration-mid motions.$motion-ease-in-out,
            opacity motions.$motion-duration-mid motions.$motion-ease-in-out;

    &_visible {
        width: mixins.rem($spinner-width + 8); // + 8px margin
        opacity: 1;
    }
}

.spinner {
    display: inline-block;
    float: left;
    width: mixins.rem($spinner-width);
    height: mixins.rem($spinner-width);
    border-radius: 9999px;
    border: mixins.rem(2) solid currentColor;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    box-sizing: border-box;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}