@use "@/theme/colors";
@use "@/theme/mixins";
@use "@/theme/fonts";



.options {
    background-color: colors.$background-muted;
    border-radius: 12;

    margin-top: 1.5rem;
}


.option {
    padding: 1rem 0rem;

    display: flex;
    align-items: center;

    @include fonts.font-creata('');

    &__label {
        width: 100%;

        display: flex;
        justify-content: flex-start;
        gap: 0.75rem;
        align-items: center;
        &__warn {
            color: red;
        }
    }

    &__value {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }
}