$background: var(--background);
$foreground: var(--foreground);
$secondary: var(--secondary);
$secondary-muted: var(--secondary-muted);
$secondary-highlight: var(--secondary-highlight);
$primary: var(--primary);
$accent: var(--accent);
$accent-muted: var(--accent-muted);
$danger: var(--danger);


$white: red;
$background-muted: red;
$primary-highlight: red;
$border: red;