$background: var(--background);
$foreground: var(--foreground);
$secondary: var(--secondary);
$secondary-muted: var(--secondary-muted);
$primary: var(--primary);
$accent: var(--accent);
$accent-muted: var(--accent-muted);
$danger: var(--danger);
$danger-muted: var(--danger-muted);


$foreground-highlight: var(--foreground-highlight);
$secondary-highlight: var(--secondary-highlight);
$secondary-muted-highlight: var(--secondary-muted-highlight);
$primary-highlight: var(--primary-highlight);
$accent-highlight: var(--accent-highlight);
$accent-muted-highlight: var(--accent-muted-highlight);
$danger-highlight: var(--danger-highlight);

$white: red;
$background-muted: red;
$border: red;