$primary: var(--primary);
$primary-highlight: var(--primary-highlight);
$secondary: var(--secondary);
$secondary-muted: var(--secondary-muted);
$secondary-highlight: var(--secondary-highlight);
$background: var(--background);
$background-muted: var(--background-muted);
$foreground: var(--foreground);
$border: var(--border);
$white: var(--white);
$orange: var(--orange);