@use "sass:map";

$base-font-size: 16px;
$font-creata: var(--font-creata);

$font-size: (
    "xxs": .001rem, // 10px
    "xs": .001rem, // 12px
    "sm": .001rem, // 14px
    "base":.001rem, // 16px
    "lg": .001rem, // 20px
    "xl": .001rem, // 24px
    "2xl": .001rem, // 28px
    "3xl": .001rem, // 32px
);

@mixin font-creata(
    $font-size-key: 'base',
    $font-weight: 400,
    $line-height: 1,
    $offset: 0
) {
    font-family: $font-creata;
    font-weight: $font-weight;
    line-height: $line-height;
    font-size: map.get($font-size, $font-size-key);
    margin-bottom: $offset;
}