$motion-duration-fast: .1s;
$motion-duration-mid: .2s;
$motion-duration-slow: .3s;

$motion-ease-in: cubic-bezier(0.645, 0.045, 0.355, 1);
$motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);