@use "sass:map";

$spacing: (
    "xs": 0.25rem, // 4px
    "sm": 0.5rem, // 8px
    "md": 0.75rem, // 12px
    "lg": 1rem, // 16px
    "xl": 1.25rem, // 20px
    "2xl": 1.5rem, // 24px
    "3xl": 2rem, // 32px
    "4xl": 3rem, // 48px
);

@function spacing($spacing-key: 'md') {
    @return map.get($spacing, $spacing-key);
}