@use "sass:map";

$base-font-size: 16px;

$font-size: (
    "xxs": (
        "size": 0.688rem, // 11px
        "height": 0.963rem, // 15.4px
    ),
    "xs": (
        "size": 0.75rem, // 12px
        "height": 1.125rem, // 18px
    ),
    "sm": (
        "size": 0.875rem, // 14px
        "height": 1.25rem, // 20px
    ),
    "base": (
        "size": 1rem, // 16px
        "height": 1.5rem, // 24px
    ),
    "lg": (
        "size": 1.125rem, // 18px
        "height": 1.5rem, // 24px
    ),
    "xl": (
        "size": 1.25rem, // 20px
        "height": 1.625rem, // 26px
    ),
    "2xl": (
        "size": 1.5rem, // 24px
        "height": 2rem, // 32px
    ),
    "3xl": (
        "size": 1.75rem, // 28px
        "height": 2.25rem, // 36px
    ),
    "4xl": (
        "size": 2rem, // 32px
        "height": 2.25rem, // 36px
    ),
);

@mixin font($font-size-key: "base", $font-weight: normal) {
    $font-data: map.get($font-size, $font-size-key);

    font-size: map.get($font-data, "size");
    line-height: map.get($font-data, "height");
    font-weight: $font-weight;
    font-style: normal;
}

@mixin font-creata($font-size-key: "base") {
    font-family: var(--font-creata), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
    @include font($font-size-key);
}