@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/fonts";

.header {
    height: mixins.rem(30);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
    margin-bottom: mixins.rem(22);

    &__large {
        height: mixins.rem(45);
    }
}


.controls {
    display: flex;
    align-items: center;   


    color: colors.$primary;

    svg path {
        stroke: colors.$primary;
        fill: colors.$primary;
    }

    &_default {
        height: mixins.rem(19);
    }

    &_large {
        height: 100%;
    }

    &__textButton {
        color: colors.$secondary;
        @include fonts.font-creata('base', 400);
        text-decoration: underline;
    }

    &__button {
        width: mixins.rem(30);
        height: mixins.rem(32);

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: colors.$background-muted;
        border-radius:24;
    }
}


.title {
    height: 100%;
    width: 100%;
    color:colors.$primary;

    display: flex;
    align-items: center;
    justify-content: center;

    &_default {
        @include fonts.font-creata("lg",500);

    }
    &_large {
        @include fonts.font-creata("lg",500,24px);
    }
}