@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/typography";

.card {
    overflow: hidden;

    height: mixins.rem(100);
    width: 100%;

    border-radius: mixins.rem(18);
    flex: 0 0 auto;


    &__content {
        z-index: 2;
        display: flex;
        align-items: center;
        gap: mixins.rem(14);
        color: colors.$foreground;
    }

    &__image {
        position: relative;
        overflow: hidden;
        width: mixins.rem(98);
        height: mixins.rem(98);

        flex: 0 0 auto;
        border-radius: mixins.rem(15);
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 0.25rem;

        &__date {
            display: flex;
            align-items: center;
            column-gap: .5rem;
            @include typography.font("xs");
            color: colors.$secondary;

            svg {
                width: mixins.rem(14);
                height: mixins.rem(14);
                path {
                    fill: colors.$secondary;
                }
            }
        }

        &__title {
            @include mixins.textEllipsis(2);
            @include typography.font("base", 500);
            color: colors.$primary;
        }
    }
}