@use "@/theme/mixins";
@use "@/theme/fonts";
@use "@/theme/colors";



.card {
    flex-shrink: 0;
    position: relative;
    overflow: hidden;

    height: mixins.rem(148);
    width: mixins.rem(254);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: .5rem;
    padding: mixins.rem(20) mixins.rem(12) 1rem;

    &__info {
        &__title {
            @include fonts.font-creata();
            font-size: mixins.rem(42);
            color: colors.$foreground;
            line-height: 1;
            font-weight: 500;
        }

        &__city {
            height: mixins.rem(18);
            @include fonts.font-creata('base');
            color: colors.$foreground;
            opacity: 0.6;
        }
    }


    &__foreground {
        position: absolute;
        z-index: 2;
        right: -10%;
        bottom: -25%;
        font-size: mixins.rem(134);
    }

    &__detailed {
        width: fit-content;

        display: flex;
        align-items: center;
        gap: mixins.rem(4);

        //padding: mixins.rem(42) mixins.rem(12);

        &__icon {
            width: 1rem;
            height: 1rem;
            background: colors.$foreground;
            border-radius: mixins.rem(24);

            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                transform: rotate(-45deg);
            }
            svg path {
                fill: #212629
            }
        }
        p {
            @include fonts.font-creata();
            text-transform: uppercase;
            font-size: mixins.rem(9);
            color: colors.$foreground;
        }
    }


    &__background {
        width: mixins.rem(625);
        height: mixins.rem(190);
        opacity: 0.05;

        position: absolute;
        top: -35%;
        left: -24%;
        transform: rotateZ(-26deg);

        @include fonts.font-creata();
        font-size: mixins.rem(130);
        font-weight: 500;
        color: colors.$foreground;
    }
}   