@use '@/theme/mixins';
@use '@/theme/colors';
@use '@/theme/fonts';
@use '@/theme/motions';


.container {
  box-sizing: border-box;
  border-bottom: 1px solid colors.$foreground;
  padding: 14px 0px 14px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__city {
    display: flex;
    text-align: start;
    align-items: center;
    gap: mixins.rem(8);

    @include fonts.font-creata('base',400,24px);

    svg path{
      fill: colors.$primary;
    }

  }

  &__contry {
    @include fonts.font-creata('sm',400);

    color: colors.$secondary;
    margin-top: mixins.rem(6);
  }

  &__check {

    height: mixins.rem(22);
    background-color: colors.$primary;
    border-radius: 16.5;
    padding: 0px 5px;


    display: flex; 
    align-items: center;
    justify-content: center;

    svg path{
      fill: colors.$background;
    }
  }
}