@use "@/theme/mixins";
@use "@/theme/fonts";
@use "@/theme/colors";

.picker {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 100;
    margin-inline: auto; 
    width: fit-content;

    &__options {
        position: absolute;
        top: mixins.rem(22);
        left: 50%;
        transform: translateX(-50%);
        border: 1px solid colors.$primary;
        border-radius: 50%;
    }
    &::before {
        position: absolute;
        content: "";
        height: 1000px;
        width: 765px;
        top: 620;
        transform: translate(-50%, -50%);
        border:1px solid black;
        border-radius:50%;

    }
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include fonts.font-creata('xl',600);
    span {
        @include fonts.font-creata('sm',600);
    }
}