@use "@/theme/colors";

.dots {
  display: flex;
  gap: 2px;
  height: 100%;

}

.dot {
  &__body {
    background-color: colors.$foreground;
    height: 6px;
    width: 6px;
    border-radius: 3.5px;

  }
  &__bold {
    background-color: colors.$primary;
    height: 6px;
    width: 27px;
    border-radius: 3.5px;
  
  }
}

