@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/spacing";
@use "@/theme/typography";

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr;
    height: mixins.rem(36);

    padding-inline: spacing.$container;

    &__title {
        text-align: center;
        @include typography.font("xl", 500);
    }

    &__avatar {
        height: 100%;
        justify-self: flex-start;
    }

    &__controls {
        justify-self: flex-end;

        display: flex;
        align-items: center;

        gap: mixins.rem(18);

        & > * {
            display: flex;
            position: relative;
        }

        svg {
            height: mixins.rem(20);
        }
    }

    &__badge {
        position: absolute;
        top: mixins.rem(-2);
        right: mixins.rem(-2);

        display: flex;
        align-items: center;
        justify-content: center;

        width: mixins.rem(12);
        height: mixins.rem(12);
        border-radius: 50%;

        color: colors.$foreground;
        background-color: colors.$danger;

        @include typography.font("xxs", 500);
        font-size: mixins.rem(8);
        line-height: 1;
    }
}

.box {
    height: mixins.rem(300);
    background: colors.$foreground;
}