@use "@/theme/mixins";

.carousel {
    width: 100%;

    &__root {
        overflow: hidden;
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__slide {
        flex-shrink: 0;

        margin-right: mixins.rem(18);

        position: relative;

        width: mixins.rem(145);
        height: mixins.rem(145);
        border-radius: 1rem;
        overflow: hidden;

        & img {
            object-fit: cover;
        }

        &_small {
            width: mixins.rem(60);
            height: mixins.rem(60);
            border-radius: 0.5rem;
        }
    }
}