@use "@/theme/mixins";
@use "@/theme/fonts";
@use "@/theme/colors";



.place {
    width: fit-content;

    display: flex;
    align-items: center;
    gap: mixins.rem(4);

    color:colors.$background;
    svg path {
        fill: colors.$background;
    }

    @include fonts.font-creata('sm', 300);
}