@use "@/theme/mixins";
@use "@/theme/colors";
@use "@/theme/typography";

.gap {
    margin-bottom: mixins.rem(20);
    &_lg {
        margin-bottom: mixins.rem(25);
    }
    &_sm {
        margin-bottom: mixins.rem(17);
    }
}